

.ourteam{
    background-color:white;
    text-align: center;
  


   
}




.t{
    background-color:white;
    
    text-align: center;
    width: 30%;
    
    float: left;
   

   

}
.clearfix{clear: left;}

.footer{background-color: white;
text-align: center;
float: left;}
.clearfix{clear: left;}


